@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

body {
    font-family:Inter, sans-serif; 
     font-weight: 400;
     line-height: 1.4;
     margin: 0;
}



/* navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    font-family:Inter;
     font-weight: 400;
     margin-left: -0;
    /* overflow: hidden; */
}

.navbar ul li {
    display: inline;
    text-align: center;
}

.navbar-name a {
    display: inline-block;
    width: 100px;
    padding: .75rem 0;
    margin: 0;
    text-decoration: none;
    color: #333;
}

.navbar-links a {
    display: inline-block;
    width: 70px;
    padding: .75rem 0;
    margin: 0;
    text-decoration: none;
    color: #333;
}
hr {
    height: .20rem;
    width: 50%;
    margin: 0;
    background: #FF9B70;
    border: none;
    transition: .3s ease-in-out;
}

.underline{
    height: 2px;
    background: black;
    width: 100%;
}


.two:hover ~ hr {
    margin-left: 50%;
  }

.main {
    padding: 0 96px;
}

.mainLayout {
    display: grid; 
    grid-template-columns: 1fr 3fr;
}

.circle {
    height: 300px;
    width: 300px;
    position: relative;
    border-radius: 300px;
    background-color: black;
    display: flex; 
    align-items: center;
    justify-content: center;
    color: #FDFDFD;
    z-index:2;
}

.circle:hover{
    background-color: #FDFDFD;
    color: black;
    z-index: 2;
}

.circle:hover::after{
    content: "This space houses the trough of things I have encountered, watched, read and tinkered with since starting this site. I hope to use this space to speak my mind about more ethical tech, document progress on projects I have made, and share delightful encounters in my everyday life. \a Have a gander through my brain. ";
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0; 
    left: 0; 
    bottom: 0;
    right: 0;
    background-color: black;
    color: #FDFDFD;
    z-index: -1;
}

.writings {
    margin: 104px;
    min-height: 30vh;
}

.text p {
    text-align: center;
    font-size:16px;
    height: 100%;
    padding: 0;
}


/* Footer styling */ 
.footer {
    height: 310px; 
    background-color:#1C1C1C;
    /* bottom: 0;  */
    display: grid; 
    grid-template-columns: repeat(2, 1fr);
    column-gap: 16px ;
    padding: 48px 146px 64px;
    color: white; 
    
}

.leftfoot {
    font-family: Inter;
    font-weight: 800;
    font-size: 22px;
}

.rightfoot {
    font-family: Inter;
    font-size:16px;
   
}

.selfplug{
    font-size: 14px;
    text-align: center;
}

.hoverlink {
    color: white; 
    text-decoration: none;
}

a.hoverlink {
    position: relative;
}

.hoverlink:before{
    content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #FFF;
  visibility: visible;
  transition: all 0.3s ease-in-out;
}

.hoverlink:hover:before {
    visibility: visible;
    width: 100%;
}

/* Formatting blog posts */
.bpost {
    text-decoration: none;
}